# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Graph commonly used tools for Data Science
* Examples of a few  arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. python
2. java
3. r

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. scikit-learn

| Data Science Tools |
|------------- |
| apache sparke |
| rstudio |
| jupyter notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jorge Reis